<div class="wrap">

  <div class="jumbotron">
  </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <div id="episode-display">
              <h3>The Simpsons Random Episode Generator!</h3>
              <h2>
               Season <%= @random_episode.season %> Episode <%= @random_episode.episode_number %>: <%= @random_episode.name%>
               </h2>

              <center>
                <%= link_to 'Regenerate', random_episodes_path %>
              </center><br>
            </div>

          </div>
        </div>

      <div class="row">
        <div id="donut">
          <%= image_tag "donut1.png" %>
        </div>
      </div>

  </div> <!-- end container-->
</div> <!-- end wrap-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
        <p>I really, really like The Simpsons, so I made this web app. Everything else is copywrited by Fox Networks. I am just a fan with a lot of time on my hands!
        <br>My personal site is here: <a href="#">bam!</a>
        <br>Tapped Out screenname: pukahontas
        <br>Screenshot is from the episode "Brother from Another Series"
        <br>Thanks for visiting!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(function() {
    $('#donut').on('mouseover', function() {
        $('#modal').modal('show');
    });
});
</script>

